*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/barner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6;
    justify-content: space-between;
    align-items: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: blueviolet;
}
.active, .menu-bar ul li:hover {
    background: #2bab;
    border-radius: 3px;
}
.menu-bar .fa-solid{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(85, 236, 211);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    color: rgb(88, 16, 223);
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 100px;
    padding: 8px;
    border-bottom: 1px dotted #fff3f3;
    background: transparent;
    border-radius: 10px;
    text-align: left;
    color: rgb(89, 62, 240);
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: aquamarine;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: relative;
    display: flex;
    margin-top: -40px;
    margin-left: 140px;
    background: white;
    
}
.hover-me:hover .sub-menu-2 ul li{
    color: blue;
}
nav img{
    width: 150px;
    padding: 10%;

    }
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.nav-link ul li a{
    color: beige;
    text-decoration: none;
    font-size: 20px;
}

    

.nav-link ul li:hover ::after{
    width: 100%;
}
.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text h1{
    font-size: 65px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 15px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 2px solid aqua;
    background: rgb(224, 8, 8);
}
nav.fa{
    display: none;
}
@media(max-width: 800px){
    .text h1{
        font-size: 25px;
    }
      
        .nav-link {
            position: absolute;
            background-color: #443364;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
        
        }
        .menu-bar ul li{
            display: block;
        }
        nav.fa{
            display: block;
            color: white;
            margin: 10px;
            font-size: 25px;
            cursor: pointer;
        }
        .nav-link ul{
            padding: 30px;
        }
}
/*----services---*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;    
}
h1{
    font-size: 40px;
    font-weight: 700px;
}
p{
    
    font-size: 15px;
    font-weight: 350px;
    line-height: 25px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.services-col{
    flex-basis: 32%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.services-col li{
    text-decoration: none;
    list-style-type: none;
    list-style:disc;
    font-weight: 300px;
    text-align: left;
    margin-left: 20%;
    padding: 2px;
}
.services-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}


/*---------About--------*/
.About{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
    position: relative;

}
.About-col{
    flex-basis: 32%;
    background: #b9f0bc;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.About-col li{
    text-decoration: none;
    list-style-type: none;
    list-style:disc;
    font-weight: 300px;
    text-align: left;
    margin-left: 20%;
    padding: 2px;
}
.About-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.About-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}

/*-----Projects....*/
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   

}
.projects-col{
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.projects-col img{
    width: 100%;
    display: block;
}
.projects-col p{
    text-align: left;

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;    
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: aquamarine;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.layer p{
    padding: 0;
    position:relative;

}

/*----testimonials*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
height: 40px;
margin-left: 5px;
margin-right: 30px;
border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col fa{
    content: 'f005';
    font-family: Font Awesome 5 Free;
    font-weight: 900;
    position: relative;
    display: block;
    color: black;
}

/*---Contact--*/
.Contacts{
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(Images/Kitchen-full-view.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    
}
.Contacts h1{
    color: antiquewhite;
    margin-bottom: 40px;
    padding: 0;

}
@media(max-width: 800px){
    .Contacts h1{
        font-size: 20px;
    }
}

/*-----footer------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: brown;
    margin: 0 15px;
    cursor: pointer;
    padding: 20px 0;
}
.direction{
    text-align: center;
}